<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Derek's Plex Stats</title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="shortcut icon" href="images/favicon.png">

  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/URI.js"></script>
  <script src="https://js.pusher.com/2.1/pusher.min.js"></script>
  <script src="js/home.js"></script>
</head>
<body id="stats">
  <div>
    <center>
      <div class="header">
        <p class="plex-title"><%= ENV['SERVER_OWNER_NAME'].upcase %>'S <a href="/plex" class="plex-logo"><img class="main-plex-logo" src="/images/plex-logo-full-no-background.svg"></a> STATS</p>
      </div>
      
      <div>
        <h1><a href="/">Home >> </a>Plex Stats</h1>
      </div>

      <div>
        <h1>Added this week</h1>
        <% for section, results in SERVER_STATS.media_added_this_week_by_section %>
          <%= "<h3 class='orange'>#{section}</h2>" %>
          <% for media in results %>
            <% if media.type == 'episode' %>
              <%= "<p class='stat-results'><span class='yellow'>#{media.grandparent_title}</span>: #{media.title}</p>" %>
            <% else %>
              <% if media.title.match(/\d/) %>
                <%= '<p class="stat-results">' + media.title.gsub(/\d/) { |e| "<span class='yellow'>#{e}</span>" } + '</p>' %>
              <% else %>
                <%= "<p class='stat-results'>#{media.title}</p>" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div>
        <br />
        <h1>Library Totals</h1>
        <% for section_name, section_count, section_time in SERVER_STATS.count_by_section %>
          <%= "<p class='stat-results'><span class='yellow'>#{section_name}</span>: #{section_count}</p>" %>
        <% end %>

        <h3>
          If you were to watch all content on this Plex Server non-stop,<br> it would take you 
          <%= SERVER_STATS.total_library_duration.split(' ').map { |e|
            if e == e.to_i.to_s
              e = "<span class='yellow'> #{e} </span>"
            elsif %w(month week day hour minute econd).include?(e.delete('s,'))
              comma = ',' if e.include?(',')
              e = "<span class='orange'> #{e.delete(',')}</span>#{comma} "
            end
            e }.join %>
        </h3>
      </div>

      <div>
        <form action="/refresh-stats" method="get">
          <br />
          <input class="btn-primary" type="submit" value="Refresh">
          <p />
        </form>
      </div>
    </center>
  </div>
</body>
</html
